.venv
.env

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

.DS_Store
Thumbs.db

.vscode/
.idea/

*.egg-info/
dist/
build/

.coverage
htmlcov/
.tox/
.cache/
pytest_cache/
.ipynb_checkpoints/

.mypy_cache/
.pyright/
pylint-report.txt